/* body{
    background-color: black;
    text-align: center;
}
h1{
    color: black;
    display: inline-block;
    width: 120px;
    background-color: aliceblue;
} */



body{
    background-color: black;
    text-align: center;
}
h1{
    color: black;
    background-color: azure;
    display: inline-block;
    width: 100px;
}














