/* topic 52 */


/* .hidden{
    display: none;
} */



 
/* .hidden{
    display: none;
}
.carClassImg{
    width: 500px;
    height: 400px;
} */




/* 
.hidden{
    border: 2px solid red;
}
.carClassImg{
    width: 500px;
    height: 400px;
} */




/* Topic 53 Swapping images */

