/* Topic 52 Manipulating images and text */


/* .small{
    width: 100px;
    height: 100px;
}
.big{
    width: 300px;
    height: 300px;
} */



/* 
.small{
    width: 100px;
    height: 100px;
}
.big{
    width: 300px;
    height: 300px;
} */




/* light */
/* body{
    text-align: center;
} */
/* .img{
    width: 200px;
    height: 250px;
} */




/* Topic 54 Swapping images and setting classes */


/* .bold{
    font-weight: bold;
} */



/* multiple classes */
/* .bold{
    font-weight: bold;
}
.blue{
    color: blue;
} */






















